* {
  margin: 0;
  padding: 0;
  
}

.app {
  background-image: url('https://startbootstrap.github.io/startbootstrap-grayscale/assets/img/bg-masthead.jpg');
  height: 100vh;
  width: 100vw;
}

#hamburger {
  display: none;
  height: 20px;
  width: 20px;
}

header {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  padding: 35px;
  box-sizing: border-box;
}

.bootstrap {
  color: gray;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gray {
  opacity: 0.5;
  font-size: 60px;
  letter-spacing: 10px;
  color: #2f2f30;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar ul {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.nav-bar ul li {
  list-style-type: none;
}

@media screen and (max-width: 900px){
  header {
    width: 100vw;
    background-color: white;
    align-items: center;
  }

  .nav-bar ul {
    background-color: white;
    height: 100px;
    width: 80vw;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 30px;
    margin-left: -50px;
    animation: slide-in 1s ease-in-out;
  }

  .no{
    display: none;
  }

  #hamburger {
    display: inline-block;
  }

  .show {
    transform: translate(-100px,99px);
  }
  
  .bootstrap {
    transform: translate(0,0)
  }
}

@keyframes slide-in {
  0%{
    height: 0px;
  }
  100%{
    height: 100px;
  }
}